<mat-grid-list [cols]="cols" rowHeight="100px">
  @for (tile of tiles; track tile) {
  <mat-grid-tile
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color"
  >
    {{ tile.text }}
  </mat-grid-tile>
  }
  <mat-grid-tile [colspan]="cols" rowspan="2" [style.background]="'lightblue'">
    <section class="last-row">
      <h2>Título de esta sección</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit
        nobis eaque aliquid ducimus? Tenetur asperiores reiciendis fugiat in.
        Labore repellat harum amet, ipsam culpa tempore quasi provident eligendi
        quibusdam placeat!
      </p>
    </section>
  </mat-grid-tile>
</mat-grid-list>
