<form [formGroup]="articleForm" (ngSubmit)="handleSubmit()">
  <fieldset>
    <label for="title">Título: </label>
    <input type="text" id="title" formControlName="title" />
  </fieldset>

  <fieldset>
    <label for="content">Cuerpo del artículo: </label>
    <input type="text" id="content" formControlName="content" />
  </fieldset>

  <fieldset>
    <label for="author">Autor: </label>
    <input type="text" id="author" formControlName="author" />
  </fieldset>

  <button>Crear Artículo</button>
</form>